@import "../../../styles/variables";

.ticketCard {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ticketHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  color: $primary-color;
}

.logo {
  height: 30px;
}

.flightInfo {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.route {
  display: flex;
  justify-content: space-between;
  font-family: Open Sans;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: rgba(160, 176, 185, 1);
}

.time {
  color: $text-color;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #a0b0b9;
}

.transfers {
  text-transform: uppercase;
  color: rgba(160, 176, 185, 1);
}

.transferCities {
  font-size: 12px;
  color: $text-color;
}
